/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/

.container {
  padding: 1rem 2rem;
  background-color: var(--background-surface);
  color: var(--text-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--shadow-sm);
}
