/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/

.container {
  width: 250px;
  height: 100vh;
  background-color: var(--background-surface);
  border-right: 1px solid var(--border-color);
  padding: 1rem;
}
